
<div class="container d-flex  d-flex justify-content-between tamanho">

    <div class="card" style="width: 18rem;">
        <img src="../../assets/choc.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kinder</h5>
          <p class="card-text">Chocolate</p>
            <a href="#" class="btn btn-dark  container-fluid" (click)="Comprar()">Comprar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../assets/chocolate.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ChocBiscot</h5>
          <p class="card-text">Bolacha</p>
            <a href="#" class="btn btn-dark  container-fluid" (click)="Comprar()">Comprar</a>
        </div>
    </div>

  
    <div class="card" style="width: 18rem;">
        <img src="../../assets/bold.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">bold</h5>
          <p class="card-text">Barrinha</p>
            <a href="#" class="btn btn-dark  container-fluid" (click)="Comprar()">Comprar</a>
        </div>
    </div>

    
    <div class="card" style="width: 18rem;">
        <img src="../../assets/yopro.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Yopro</h5>
          <p class="card-text">Whey</p>
            <a href="#" class="btn btn-dark  container-fluid" (click)="Comprar()">Comprar</a>
        </div>
    </div>


</div>